/*import Font here*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;1,200&display=swap');

/*Google Material Icons*/
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 200, 'opsz' 48;
    font-size: 48px;
}

  /*  .material-symbols-outlined:hover {
        font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 200, 'opsz' 48;
        font-size: 50px;
    }
*/

:root {
    --font-family: 'Montserrat', sans-serif;
    --nav-background: #ffffff;
    --card-header-font-color: #283148;
    --background-color: #f7f7f8;
    --panel-background-color: #ffffff;
    --card-background: #ffffff;
    --card-body-background: #FFD9C0;
    --footer-backgrond-color: #15133C;
    --footer-link-color: #f17421;
}

/*Reset layout*/
* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}


body, .card {
    background-color: var(--background-color);
    padding: 0;
    margin: 0;
}


/*fixed navbar*/
.navbar {
    background-color: var(--nav-background) !important;
    border-bottom: 1px solid #d9dada !important;
    height: fit-content;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 0px !important;
    margin-bottom: 0px !important;
}

nav .nav-item {
    margin: 0px 3px;
}

nav .navbar-brand {
    color: #66615b !important;
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 400;
    padding-left: 20px;
    line-height: 26px;
    letter-spacing: 2px;
}

nav .nav-item a {
    color: #9b9793 !important;
    line-height: 21px;
    font-size: 12px;
}

    nav .nav-item a:hover {
        color: #2ac7ca !important;
        line-height: 21px;
        font-size: 13px;
    }





/*card*/

.card {
    border: none;
    height: 86% !important;
}


    .card .card-header {
        background-color: var(--background-color);
        font-family: var(--font-family);
        font-size: 15px;
        letter-spacing: 2px;
        padding-left: 50px !important;
        line-height: 31px;
        color: #252422;
        font-weight: 700;
        border: none;
    }

.card-body {
    padding: 0px 10px 10px 10px !important;
    height: fit-content;
    padding: 1rem;
}





.row {
    height: fit-content;
    margin: 0;
    font-size: 13px;
}








    /*Adminpanel page*/

    .row .panel {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 11vh;
        margin: 8px;
        border: none;
        font-size: 13px;
        font-weight: 300;
        letter-spacing: 2px;
        border-radius: 20px;
        background-color: var(--panel-background-color);
        border: 1px solid #d9dada !important;
        box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
        transition: transform .3s cubic-bezier(.34,2,.6,1),box-shadow .2s ease;
    }


        .row .panel label {
            margin: 15px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

.panel .panel-heading {
    font-size: 12px;
}

.panel .panel-count {
    font-weight: 500;
    font-size: 16px;
}


/*floating button for modal*/
#floating-btn {
    position: fixed;
    right: 0;
    top: 450;
    padding: 6px 15px;
    border: none;
    background-color: rgba(120, 120, 120, 0.5);
    border-radius: 20px 0px 0px 20px;
}


/*modal*/
.modal .modal-header {
    font-size: 12px;
}


.graph-col {
    margin: 15px 0px 15px 0px;
    width: 100%;
    overflow-y: auto;
}

    .graph-col .row {
        margin: 10px;
        justify-content: end !important;
        background-color: var(--card-background);
        border: 1px solid #d9dada !important;
        border-radius: 10px;
        height: 350px;
    }

        .graph-col .row .col-md-6 {
            padding: 0;
            border-right: 1px solid #d9dada !important;
        }

    .graph-col .chartform {
        display: flex;
        justify-content: flex-end;
        padding: 10px;
    }



.card .row .form-select {
    width: auto !important;
}

.graph-col select {
    height: fit-content;
}



.graph-col #datewise_chart {
    box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
}

.graph-col #Productwise_chart {
    box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
}


/*.row #btnupload {
    height: 5vh;
    width: auto;
}*/

/*  .graph-col .row .dropdown {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .graph-col .dropdown button{
        background-color: #47cbcd;
        border: none;
        width: 120px;
        height: 35px;
        font-size: 13px;
        border-radius: 30px !important;

    }*/


/*admin panel page end here*/








/*area Master Page*/
.table-row {
    margin-top: 10px !important;
    grid-row-gap: 20px;
}

.card .area-table {
    margin: 20px 0px 20px 0px;
    overflow: auto;
    height: 91%;
    border: 1px solid #d9dada !important;
    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
    transition: transform .3s cubic-bezier(.34,2,.6,1),box-shadow .2s ease;
}

.card .table-row .area-btn {
    width: inherit;
    background-color: #47cbcd;
    border: none;
    height: 40px;
    border-radius: 20px !important;
}

/*area master page end here*/


/*Item master page*/
.card-body .item-row {
    margin: 50px 30px;
}

.item-row .btn {
    color: #ffffff;
    border: none;
    border-radius: 15px !important;
}

.item-row .savebtn {
    background-color: #f47e61;
}

.item-row .exportbtn {
    background-color: #76d7a9;
}

/*Item master page end here*/



/*entry page*/
.card-body .customer-row {
    margin: 50px;
}

/*entry page end here*/







/*footer*/
.page-footer {
    height: 5vh !important;
    border-top: 1px solid #d9dada !important;
}

footer .footer-copyright {
    color: var(--nav-font-color);
    font-size: 11px;
    word-spacing: 1px;
    font-weight: 300;
    opacity: 0.9;
}

footer a {
    color: var(--footer-link-color) !important;
    letter-spacing: 1px;
    text-decoration: none !important;
}


@media (min-width: 1400px) {
    nav .brand-container {
        width: 30vw;
        margin-left: 15vw;
    }
}








/*User registration page*/

.user .card {
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
}

.user .form-row {
    justify-content: center;
    margin-top: 5%;
}


.row .card .card-header-rose, .user .card-body, .user .card-footer {
    background-color: #ffffff !important;
}


    


.card-header .card-icon {
    border-radius: 5px;
    background-color: #e62366;
    color: #ffff;
    padding: 15px;
    margin-top: -30px;
    margin-right: 15px;
    float: left;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
}

.card-icon span{
    font-size: 25px;
}

.user .card-footer button {
    color: #fff;
    background-color: #e91e63;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0hsla(0,0%,60%,.14),0 3px 1px -2px hsla(0,0%,60%,.2),0 1px 5px 0 hsla(0,0%,60%,.12);
}